---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p>I have worked on various research projects, industry collaborations, and system developments spanning AI, structural engineering, and IoT technologies. Below are selected projects I have worked on, including research projects, industry collaborations, and system developments. Each project includes details about the technologies used, key contributions, and outcomes. Click on any project for more details.</p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

