/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: #fff; /* 배경을 흰색으로 설정 */
    color: #000; /* 텍스트 색상을 검정색으로 설정 */
    padding: 50px 0;
    text-align: center;
}

.hero-content {
    color: #000; /* 텍스트 색상을 검정색으로 설정 */
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.section .container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.section p {
    font-size: 1.2em;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}
